version: "3.9"
services:
  mongodb:
    image: mongo:6
    container_name: my-mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: secret
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:

# 

# services:
#   mongodb:
#     image: mongo:8
#     container_name: my-mongo
#     restart: always
#     ports:
#       - "27017:27017"
#     environment:
#       MONGO_INITDB_ROOT_USERNAME: admin
#       MONGO_INITDB_ROOT_PASSWORD: strongSecretPass123!
#       MONGO_INITDB_DATABASE: mydb
#     volumes:
#       - mongo_data:/data/db
#       - ./certs:/etc/ssl/mongo   # mount TLS certs
#       - ./init:/docker-entrypoint-initdb.d # custom init scripts
#     command: >
#       mongod --bind_ip_all
#              --auth
#              --tlsMode requireTLS
#              --tlsCertificateKeyFile /etc/ssl/mongo/mongodb.pem
#              --tlsCAFile /etc/ssl/mongo/ca.pem


# mongo-backup:
#     image: amazon/aws-cli:2.15.50
#     container_name: mongo-backup
#     restart: always
#     depends_on:
#       - mongodb
#     environment:
#       AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
#       AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
#       AWS_DEFAULT_REGION: ${AWS_DEFAULT_REGION}
#       MONGO_USER: admin
#       MONGO_PASS: strongSecretPass123!
#       MONGO_DB: mydb
#       S3_BUCKET: ${S3_BUCKET}
#     volumes:
#       - ./backups:/backups
#     entrypoint: ["/bin/sh", "-c"]
#     command: |
#       while true; do
#         TIMESTAMP=$(date +%Y%m%d_%H%M%S);
#         echo "Running MongoDB backup at $TIMESTAMP";
#         mongodump --host mongodb \
#                   --username $$MONGO_USER \
#                   --password $$MONGO_PASS \
#                   --authenticationDatabase admin \
#                   --db $$MONGO_DB \
#                   --out /backups/dump_$${TIMESTAMP};
#         echo "Uploading backup to S3...";
#         aws s3 cp /backups/dump_$${TIMESTAMP} s3://$$S3_BUCKET/mongo_backups/dump_$${TIMESTAMP} --recursive;
#         echo "Backup complete. Sleeping for 24h...";
#         rm -rf /backups/dump_$${TIMESTAMP};
#         sleep 86400;
#       done

# volumes:
#   mongo_data:
#     driver: local




# db = db.getSiblingDB("mydb");

# // Ensure TTL index for users
# db.users.createIndex(
#   { verificationExpires: 1 },
#   { expireAfterSeconds: 600 } // 600 seconds = 10 minutes
# );