.gear1{
    position: relative;
    top: 30px;
    left: 100px;
    z-index: -1;
    mix-blend-mode: soft-light;
}

.gear2{
    position: relative;
    z-index: -3;
    bottom: 70px;
    right: 100px;
    mix-blend-mode: soft-light;
    color: #696969;
}

.gear3{
    position: relative;
    z-index: -2;
    bottom: 180px;
    left: 100px;
    mix-blend-mode: soft-light;
    
}

.gear4{
    position: relative;
    z-index: -3;
    right: 250px;
    bottom: 250px;
    mix-blend-mode: soft-light;
   color: #696969;
}

.gear5{
    position: relative;
    z-index: -4;
    bottom: 530px;
    left: 120px;
    mix-blend-mode: soft-light;
    /* color: #2E2E2E; */
}
