.gear1 {
  position: relative;
  top: 20px;
  left: 100px;
  z-index: -1;
  mix-blend-mode: soft-light;
}

.gear2 {
  position: relative;
  z-index: -1;
  bottom: 70px;
  right: 100px;
  mix-blend-mode: soft-light;
  color: #696969;
}

.gear3 {
  position: relative;
  z-index: -1;
  bottom: 180px;
  left: 100px;
  mix-blend-mode: soft-light;
}

.gear4 {
  position: relative;
  z-index: -1;
  right: 250px;
  bottom: 250px;
  mix-blend-mode: soft-light;
  color: #696969;
}

.gear5 {
  position: relative;
  z-index: -5; /* Default: behind gradient on mobile */
  bottom: 505px;
  left: 120px;
  mix-blend-mode: soft-light;
}

/* Only show gear5 properly on desktop */
@media (min-width: 801px) {
  .gear5 {
    z-index: -1;
  }
}

.move {
  top: 50px;
}
