@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: var(--background);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.background.Home{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -20;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;
  background: radial-gradient(circle at 120% 250%, #B55A14 15%, #000000 80%);
}
@media (max-width: 1325px) {
  .background.Home {
    height: 120vh; /* increase height */
    background: radial-gradient(circle at 120% 185%, #B55A14 15%, #000000 80%);
    
  }
}

/* body {
  background: var(--background);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.background.Home{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -20;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;
  background: radial-gradient(circle at 120% 250%, #B55A14 15%, #000000 80%);
} */

.nav{
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}
  

.test{
  z-index: 10;
  background-color: white;
  height: 100px;
  width: 100px;
  position: relative;
  top: 2000px
}

.bg-primary{
  background-color: #B55914;
}

.primary-color{
  color:#B55914
}
.secondary-text{
  color:#C2C2BC;
}
.block{
  border: 1px white solid;
  flex-direction: column;
}
.primary-border{
  border: 1px solid #B55914;
}
.primary-border:hover {
  border-color: rgba(181, 89, 20, 0.5);
  cursor: pointer; 
}
