@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  
}

html,body{
  overflow-x: visible;
  overscroll-behavior-y: contain;

}
html,
body,
#__next {
  
  
}


body {
  background: var(--background);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  
}

.not-ready{
  visibility: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
} 
.background.Home{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -20;
  /* min-height: '100dvh'; */
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;
  background: radial-gradient(circle at 120% 250%, #B55A14 15%, #000000 85%);
}


@media(max-width: 1150px){
  .background.Home{
    background: radial-gradient(circle at 120% 185%, #B55A14 15%, #000000 85%);
  }
}
@media(max-width: 800px){
  .background.Home{
    background: radial-gradient(circle at 120% 185%, #B55A14 15%, #000000 90%);
  }
}

@media(max-height: 500px){
  .expertise{
    position: sticky;
    top: 100px;
  }
}


.nav{
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}
  
@media(max-height:450px){
  .landing{
    margin-top: 50px;
  }
}

.test{
  z-index: 10;
  background-color: white;
  height: 100px;
  width: 100px;
  position: relative;
  top: 2000px
}

.bg-primary{
  background-color: #B55914;
}

.bg-primary2:hover {
  background-color: rgba(181, 89, 20, 0.6);
}

.primary-color{
  color:#B55914
}
.secondary-text{
  color:#C2C2BC;
}
.bg-secondary{
  background-color: #3F3F38;
}
.block{
  border: 1px white solid;
  flex-direction: column;
}
.primary-border{
  border: 1px solid #B55914;
}
.primary-border:hover {
  border-color: rgba(181, 89, 20, 0.5);
  cursor: pointer; 
}

.expertiseDes{
  max-height: 100px;                /* Limit height */
  display: -webkit-box;             /* Enable flex truncation */
  -webkit-line-clamp: 5;            /* Approx. number of lines for 100px */
  -webkit-box-orient: vertical;     /* Vertical layout for box */
  overflow: hidden;                 /* Hide excess */
  text-overflow: ellipsis;          /* Ellipsis style */
  line-height: 20px;                /* Ensure line height matches clamp */
  word-break: break-word;           /* Break long words */
}


.noContentDes{
  max-height: 180px;                /* Limit height */
  display: -webkit-box;             /* Enable flex truncation */
  -webkit-line-clamp: 7;            /* Approx. number of lines for 100px */
  -webkit-box-orient: vertical;     /* Vertical layout for box */
  overflow: hidden;                 /* Hide excess */
  text-overflow: ellipsis;          /* Ellipsis style */
  line-height: 20px;                /* Ensure line height matches clamp */
  word-break: break-word;           /* Break long words */
}



.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

.content ul{
  list-style: disc;
  padding-left: 1.25rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) and (orientation: landscape) {
  .modal-mobile-landscape {
    height: 90% !important;
    width: 90% !important;
  }
}

.marquee-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
}

.marquee-container::before,
.marquee-container::after {
  content: '';
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.marquee-container::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), transparent);
}

.marquee-container::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 1), transparent);
}

.marquee-track {
  display: flex;
  gap: 2rem;
  width: max-content;
  animation: marquee-loop 10s linear infinite;
}

@keyframes marquee-loop {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}


@media (max-width: 600px) {
  @keyframes marquee-loop {
    0% {
      transform: translateX(120vw);
    }
    100% {
      transform: translateX(-120vw);
    }
  }
}
@media (max-width: 450px) {
  @keyframes marquee-loop {
    0% {
      transform: translateX(200vw);
    }
    100% {
      transform: translateX(-200vw);
    }
  }
}

.truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 2;       /* Max number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.4;            /* Ensure consistent height per line */
  max-height: calc(1.4em * 2); 
  
}

.priority{
  height: auto;
}
@media (max-width: 947px) {
  .priority {
    height: 490px;
  }
}

@media (max-width: 523px) {
  .priority {
    height: 622px;
  }
}

.priority2{
  height: auto;
}
@media (max-width: 947px) {
  .priority2 {
    height: 264px;
  }
}

@media (max-width: 523px) {
  .priority2 {
    height: 408px;
  }
}