@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: var(--background);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.background.Home{

  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;
  background: radial-gradient(circle at 120% 250%, #B55A14 15%, #000000 80%);
}
