@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  
}

html,body{
  overflow-x: visible;
  
}
html,
body,
#__next {
  
  
}

.app-wrapper{
   min-height: 100lvh;
  display: flex;
  flex-direction: column;
  position: relative;
}
body {
  background: var(--background);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  
}

.not-ready{
  visibility: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
} 
.background.Home{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -20;
  /* min-height: '100dvh'; */
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;
  background: radial-gradient(circle at 120% 250%, #B55A14 15%, #000000 85%);
}

@media(max-width: 1150px){
  .background.Home{
    background: radial-gradient(circle at 120% 185%, #B55A14 15%, #000000 85%);
  }
}
@media(max-width: 800px){
  .background.Home{
    background: radial-gradient(circle at 120% 185%, #B55A14 15%, #000000 90%);
  }
}

@media(max-height: 500px){
  .expertise{
    position: sticky;
    top: 100px;
  }
}


.nav{
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}
  
@media(max-height:450px){
  .landing{
    margin-top: 50px;
  }
}

.test{
  z-index: 10;
  background-color: white;
  height: 100px;
  width: 100px;
  position: relative;
  top: 2000px
}

.bg-primary{
  background-color: #B55914;
}

.primary-color{
  color:#B55914
}
.secondary-text{
  color:#C2C2BC;
}
.block{
  border: 1px white solid;
  flex-direction: column;
}
.primary-border{
  border: 1px solid #B55914;
}
.primary-border:hover {
  border-color: rgba(181, 89, 20, 0.5);
  cursor: pointer; 
}

.expertiseDes{
  max-height: 100px;                /* Limit height */
  display: -webkit-box;             /* Enable flex truncation */
  -webkit-line-clamp: 5;            /* Approx. number of lines for 100px */
  -webkit-box-orient: vertical;     /* Vertical layout for box */
  overflow: hidden;                 /* Hide excess */
  text-overflow: ellipsis;          /* Ellipsis style */
  line-height: 20px;                /* Ensure line height matches clamp */
  word-break: break-word;           /* Break long words */
}


.noContentDes{
  max-height: 180px;                /* Limit height */
  display: -webkit-box;             /* Enable flex truncation */
  -webkit-line-clamp: 7;            /* Approx. number of lines for 100px */
  -webkit-box-orient: vertical;     /* Vertical layout for box */
  overflow: hidden;                 /* Hide excess */
  text-overflow: ellipsis;          /* Ellipsis style */
  line-height: 20px;                /* Ensure line height matches clamp */
  word-break: break-word;           /* Break long words */
}

.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

.content ul{
  list-style: disc;
  padding-left: 1.25rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) and (orientation: landscape) {
  .modal-mobile-landscape {
    height: 90% !important;
    width: 90% !important;
  }
}