@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
   margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  background: radial-gradient(circle at 120% 250%, #B55A14 15%, #000000 80%);
  z-index: -1;
  pointer-events: none;
}

body {
  /* background: var(--background); */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: none;
  z-index: -20;
}

.background.Home{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
 height: 100dvh;
width: 100vw;
  
  margin: 0;
  padding: 0;
  background: black;
  background: radial-gradient(circle at 120% 250%, #B55A14 15%, #000000 80%);
}
@media (max-width: 1325px) {
  .background.Home {
    height: 120vh; /* increase height */
    
    
  }
}


.nav{
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}
  

.test{
  z-index: 10;
  background-color: white;
  height: 100px;
  width: 100px;
  position: relative;
  top: 2000px
}

.bg-primary{
  background-color: #B55914;
}

.primary-color{
  color:#B55914
}
.secondary-text{
  color:#C2C2BC;
}
.block{
  border: 1px white solid;
  flex-direction: column;
}
.primary-border{
  border: 1px solid #B55914;
}
.primary-border:hover {
  border-color: rgba(181, 89, 20, 0.5);
  cursor: pointer; 
}
